@font-face {
  font-family: 'IRANSansWeb';
  src: url("../font/IRANSansWeb.woff2") format("woff2"), url("../font/IRANSansWeb.woff") format("woff"), url("../font/IRANSansWeb.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 575.98px) {
  html {
    font-size: 15px;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  line-height: 1.8rem;
  color: #000042;
  background-color: #F5F5FB;
  font: 500 1rem 'IRANSansWeb';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginContainer {
  width: 100%;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.card {
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  display: block;
  padding: 1.1rem 2rem;
  -webkit-box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
}

.card-head {
  margin-bottom: .6rem;
}

.card-head h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.card-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 1.8rem;
  font-size: .9rem;
}

.card-tabs div {
  cursor: pointer;
  border-bottom: 1px;
  padding: .6rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.card-tabs div a {
  width: 100%;
}

.card-tabs-active {
  color: #7367f0;
  background: linear-gradient(-30deg, #7367f0, rgba(115, 103, 240, 0.5)) left bottom no-repeat;
  background-size: 100% 2px;
}

.tab-content {
  display: none;
}

.form-control {
  position: relative;
}

.form-control input {
  padding: .8rem;
  border: 1px solid #d9d9d9;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 6px;
  font-family: 'IRANSansWeb';
  font-weight: 400;
  padding-right: 40px;
  color: #d9d9d9;
  width: 100%;
}

.form-control input:focus + i {
  color: #7367f0;
}

.form-control input:focus {
  border: 1px solid #7367f0 !important;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  color: #4e5154;
}

.form-control i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #cecece;
}

.form-control input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.form-control input:-ms-input-placeholder {
  color: #c4c4c4;
}

.form-control input::-ms-input-placeholder {
  color: #c4c4c4;
}

.form-control input::placeholder {
  color: #c4c4c4;
}

.forget-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .8rem;
  color: #7367f0;
}

.remember-block {
  color: #333 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.remember-block label {
  margin-right: 4px;
}

.remember-block input[type=checkbox] {
  opacity: 0;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  z-index: 100;
}

.remember-block input[type=checkbox]:focus, .remember-block input[type=checkbox]:hover {
  background-color: none;
}

.remember-block input[type=checkbox]:checked + span {
  background-color: #7367f0;
  border: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.remember-block input[type=checkbox]:checked + span i {
  opacity: 1;
}

.remember-block span {
  position: absolute;
  top: 0;
  right: 0;
  height: 1.2rem;
  width: 1.2rem;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.remember-block span i {
  opacity: 0;
  color: #fff;
  font-size: .6rem;
}

.btn {
  border-radius: 6px;
  font-family: 'IRANSansWeb';
  font-weight: 400;
  display: block;
  color: #fff;
  text-align: center;
  border: 0;
  font-size: 1rem;
  padding: .6rem 1.4rem;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .btn {
    width: 100% !important;
  }
}

.btn-primary {
  background-color: #7367f0;
}

.btn-primary:hover {
  border-color: #5e50ee;
  -webkit-box-shadow: 0 8px 25px -8px #7367f0;
          box-shadow: 0 8px 25px -8px #7367f0;
}

.btn-success {
  background-color: #28c76f;
}

.btn-success:hover {
  border-color: #28c76f;
  -webkit-box-shadow: 0 8px 25px -8px #28c76f;
          box-shadow: 0 8px 25px -8px #28c76f;
}

.mb-1 {
  margin-bottom: 1rem;
}

.logo {
  max-width: 170px;
  margin-bottom: 1.8rem;
}

.signupCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.signupCard div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 575.98px) {
  .signupCard div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 575.98px) {
  .signupCard .signupCard__label {
    display: none;
  }
}

#loading {
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: white;
}

.footerLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1rem 1.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
}

.footerLinks a {
  border: 1px solid #7367f0;
  color: #333;
  padding: .4rem 1.4rem;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerLinks a i {
  margin-left: .6rem;
  font-size: .8rem;
}

.passToggle {
  color: #b9b9b9 !important;
  position: absolute;
  top: .7rem !important;
  right: auto !important;
  left: .7rem !important;
  padding: 6px;
  border-radius: 50%;
}

.passToggle:hover {
  background-color: #eee;
}

.passToggle--toggled {
  background-color: #f3f3f3;
}
/*# sourceMappingURL=style.css.map */