$primary-color: #7367f0

@font-face
    font-family: 'IRANSansWeb'
    src: url('../font/IRANSansWeb.woff2') format('woff2'), url('../font/IRANSansWeb.woff') format('woff'), url('../font/IRANSansWeb.ttf') format('truetype')

*
    box-sizing: border-box
html
    font-size: 16px
    @media (max-width: 575.98px)
        font-size: 15px

input:focus,
select:focus,
textarea:focus,
button:focus
    outline: none

a
    text-decoration: none
    color: inherit

h2
    margin: 0
    padding: 0


body
    direction: rtl
    line-height: 1.8rem
    color: #000042
    background-color: #F5F5FB
    font: 500 1rem 'IRANSansWeb'
    margin: 0
    padding: 0
    box-sizing: border-box
    background: url('../img/bg.jpg') no-repeat center center fixed
    background-size: cover

.container
    width: 100%
    display: flex
    align-items: center
    // background-color: red
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

.loginContainer
    width: 100%
    max-width: 480px
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem

.card
    width: 100%
    background-color: #fff
    border-radius: .5rem
    display: block
    padding: 1.1rem 2rem
    box-shadow: 0 4px 25px 0 rgba(0,0,0,.1)

.card-head
    margin-bottom: .6rem
    h2
        font-size: 1.2rem
        font-weight: 500

.card-tabs
    display: flex
    justify-content: space-between
    text-align: center
    margin-bottom: 1.8rem
    font-size: .9rem
    div
        cursor: pointer
        border-bottom: 1px
        padding: .6rem
        flex-basis: 50%
        a
            width: 100%

.card-tabs-active
    color: $primary-color
    background: linear-gradient(-30deg,$primary-color,rgba(115,103,240,.5)) left bottom no-repeat
    background-size: 100% 2px

.tab-content
    display: none

.form-control
    position: relative
    input
        padding: .8rem
        border: 1px solid #d9d9d9
        transition: all .3s ease
        border-radius: 6px
        font-family: 'IRANSansWeb'
        font-weight: 400
        padding-right: 40px
        color: #d9d9d9
        width: 100%
        &:focus + i
            color: $primary-color
        &:focus
            border: 1px solid $primary-color !important
            box-shadow: 0 3px 10px 0 rgba(0,0,0,.15)
            color: #4e5154
    i
        position: absolute
        top: 1rem
        right: 1rem
        color: #cecece

.form-control input::placeholder
    color: #c4c4c4

.forget-block
    display: flex
    justify-content: space-between
    font-size: .8rem
    color: $primary-color

.remember-block
    color: #333 !important
    display: flex
    align-items: center
    position: relative
    label
        margin-right: 4px
    input[type=checkbox]
        opacity: 0
        cursor: pointer
        height: 1.2rem
        width: 1.2rem
        z-index: 100
        &:focus , &:hover
            background-color: none
        &:checked + span
            background-color: $primary-color
            border: 0
            transform: rotate(0deg)
            i
                opacity: 1
    span
        position: absolute
        top: 0
        right: 0
        height: 1.2rem
        width: 1.2rem
        border: 1px solid #ccc
        display: flex
        align-items: center
        justify-content: center
        border-radius: 4px
        transform: rotate(90deg)
        transition: all .5s ease
        i
            opacity: 0
            color: #fff
            font-size: .6rem

.btn
    border-radius: 6px
    font-family: 'IRANSansWeb'
    font-weight: 400
    display: block
    color: #fff
    text-align: center
    border: 0
    font-size: 1rem
    padding: .6rem 1.4rem
    width: 100%
    cursor: pointer
    @media (max-width: 575.98px)
        width: 100% !important

.btn-primary
    background-color: $primary-color
    &:hover
        border-color: #5e50ee
        box-shadow: 0 8px 25px -8px $primary-color

.btn-success
    background-color: #28c76f 
    &:hover
        border-color: #28c76f
        box-shadow: 0 8px 25px -8px #28c76f

.mb-1
    margin-bottom: 1rem

.logo
    max-width: 170px
    margin-bottom: 1.8rem

.signupCard
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    width: 100%
    div
        flex-basis: 50%
        @media (max-width: 575.98px)
            flex-basis: 100%

    .signupCard__label
        @media (max-width: 575.98px)
            display: none


#loading
    z-index: 1000
    width: 100%
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    background-color: rgba(256, 256, 256, 1)

.footerLinks
    display: flex
    width: 100%
    padding: 1rem 1.8rem
    justify-content: space-between
    font-size: .9rem
    a
        border: 1px solid $primary-color
        color: #333
        padding: .4rem 1.4rem
        border-radius: 6px
        display: flex
        align-items: center
        i
            margin-left: .6rem
            font-size: .8rem

.passToggle
    color: #b9b9b9 !important
    position: absolute
    top: .7rem !important
    right: auto !important
    left: .7rem !important
    padding: 6px
    border-radius: 50%
    &:hover
        background-color: #eee

.passToggle--toggled
    background-color: #f3f3f3